/* header.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; /* Reduce padding for smaller height */
  background-color: rgba(52, 58, 64, 0.5); /* Semi-transparent background */
  color: rgb(0, 0, 0);
  position: fixed;
  top: 20px; /* Position it slightly below the top */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Centering adjustment */
  width: 80%; /* Set width to be less than full screen */
  max-width: 1000px; /* Optionally, limit the maximum width */
  border-radius: 15px; /* Rounded corners for a sleeker look */
  z-index: 1000;
}

.site-logo {
  text-decoration: none;
}

#site-logo {
  width: 70px;
  height: auto; /* Increase height for a larger logo */
}

.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-link {
  color: #f8f9fa;
  text-decoration: none;
  margin-right: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Change background on hover */
}

.cart {
  position: relative;
  display: inline-block;
}

.cart-link {
  color: #f8f9fa;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.cart-icon {
  display: inline-block; /* Ensure it displays inline with text */
  height: 20px; /* Adjust to your preferred height */
  width: auto;
  margin-right: 5px;
  vertical-align: middle; /* Aligns with text baseline */
}

.cart-menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  color: black;
  border: 1px solid #ced4da;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 10px;
  z-index: 1000;
}

.cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Hide nav links and show hamburger icon on small screens */
@media (max-width: 582px) {
  .nav {
    display: none; /* Hide the nav links */
    flex-direction: column; /* Vertical layout for dropdown */
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgba(52, 58, 64, 0.9);
    border-radius: 8px;
    padding: 10px;
    width: 200px;
  }

  .nav-link {
    margin: 5px 0;
  }

  .hamburger {
    display: block; /* Show hamburger on smaller screens */
    cursor: pointer;
    font-size: 1.5em;
    color: #f8f9fa;
    background: none;
    border: none;
    outline: none;
  }
}

/* Hide hamburger icon on larger screens */
@media (min-width: 583px) {
  .hamburger {
    display: none; /* Hide hamburger on larger screens */
  }
}
