/* index.css */

/* Hero Section Styles */
.hero-banner {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden; /* Hide overflow */
}

.hero-image {
  width: 100%;
  height: 100%;
  background-image: url("images/hero-image.jpg");
  background-size: cover;
  background-position: center;
  transition: transform 0.5s;
}

.hero-banner:hover .hero-image {
  transform: scale(1.15); /* Scale down slightly on hover */
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s; /* Smooth transition for overlay opacity */
}

.hero-banner:hover .hero-overlay {
  opacity: 1; /* Keep the overlay fully opaque on hover */
}

.hero-banner .slogan {
  font-size: 3em;
  color: white; /* White text color for hero heading */
  z-index: 1; /* Ensure the text is above the overlay */
}

/* Main Content Styles */
main {
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

h2 {
  text-align: center;
  margin: 20px 0;
  color: #e0e0e0; /* Light color for headings */
}

/* Product Slider Styles */
.product-slider {
  padding: 10px 20px; /* Add padding to the slider */
  max-width: 900px; /* Set a maximum width for the slider */
  margin: auto; /* Center the slider */
}

.product-slider .slick-slide {
  display: flex; /* Ensure slides are flex containers */
  justify-content: center; /* Center items */
}

/* Responsive Styles */
@media (min-width: 1200px) {
  .product-slider .slick-slide {
    width: 25%; /* 4 cards on large screens */
  }
}

@media (max-width: 768px) {
  .product-slider .slick-slide {
    width: 50%; /* 2 cards on small screens */
  }
}

/* Responsive Styles for h1 */
@media (max-width: 730px) {
  .hero-banner .slogan {
    font-size: clamp(1.5rem, 5vw + 1rem, 2rem); /* Responsive font size */
  }
}
